.loc-wrapper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
}

.section-loc-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.bordertop {
    text-align: left;
}

.card {
    padding: 12px;
    background-color: #dedede;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    align-items: center;
    width: max-content;
    gap: var(--gap);
}

.card img {
    border-radius: 100px;
}

.row .column:nth-child(1) img:nth-child(1) {
    zoom: normal;
}

.image-wrapper .row .column img {
    height: inherit;
    width: 100%;
    zoom: 0.5;
}

.card .column {
    display: flex;
    flex-direction: column;
}

.row, .row-special {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    display: flex;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.book-container {
    padding: 20px;
    position: sticky;
    top: 100px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    height: max-content;
    width: 100%;
    max-width: 400px;
}

.book-wrapper {
    display: flex;
    flex-direction: column;
}

.row-gapped {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.book-info {
    margin: 26px 0;
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}

@media (max-width: 700px) {
    .card {
        width: auto;
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 800px) {
    .row {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .row-special {
        flex-direction: row;
    }
}