.loc-wrapper {
    margin: 30px;
}

.bordertop {
    text-align: left;
}

.card {
    padding: 12px;
    background-color: #dedede;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    align-items: center;
    width: max-content;
    gap: 20px;
}

.card img {
    border-radius: 100px;
}

.card .column {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    display: flex;
}

.image-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    object-fit: cover;
    width: 100%;
}

@media (max-width: 700px) {
    .card {
        width: auto;
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 900px) {
    .image-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1500px) {
    .image-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}